%style
  - width = 5 + 17
  :sass
    p
      :border
        :style dotted
        :width #{width}px
        :color #ff00ff
    h1
      :font-weight normal

:test
  This
  Should
  Not
  Print

%p
  :javascript
    function newline(str) {
      return "\n" + str;
    }

:plain
  This
    Is
      Plain
        Text
          %strong right?
   \#{not interpolated}
   \\#{1 + 2}
   \\\#{also not}
   \\

- last = "noitalo"
%p
  %pre
    :preserve
      This pre is pretty deeply
            nested.
         Does #{"interp" + last.reverse} work?
    :preserve
        This one is, too.
      Nested, that is.

- num = 10
%ul
  :erb
    <% num.times do |c| %>
      <li><%= (c+97).chr %></li>
    <% end %>
    <% res = 178 %>

.res= res

= "Text!"

- var = "Hello"
:ruby
  printf "%s, World!\n", var
  print "How are you doing today?\n"

:escaped
  <div class="foo">
    <p>I think &mdash; or do I?</p>
  </div>
