%style
  - width = 5 + 17
  :sass
    p
      :border
        :style dotted
        :width #{width}px
        :color #ff00ff
    h1
      :font-weight normal

:test
  This
  Should
  Not
  Print

:redcloth
  Foo
  ===

      This is preformatted!
      Look at that!
      Wowie-zowie!

  *boldilicious!*

:textile
  h1. Yeah

  _pretty much the same as above_

:plain
  This
    Is
      Plain
        Text
          %strong right?
   \#{not interpolated}
   \\#{1 + 2}
   \\\#{also not}
   \\

- last = "noitalo"
%p
  %pre
    :preserve
      This pre is pretty deeply
            nested.
         Does #{"interp" + last.reverse} work?
    :preserve
        This one is, too.
      Nested, that is.

:erb
  <% 10.times do |c| %>
    <%= (c+97).chr %>
  <% end %>

:markdown
  *  Foo
  *  Bar
  *  BAZ!

= "Text!"

:ruby
  puts "Hello, World!"
  puts "How are you doing today?"
