%div
  %h1 I can count!
  - (1..20).each do |i|
    = i
  %h1 I know my ABCs!
  %ul
    - ('a'..'z').each do |i|
      %li= i
  %h1 I can catch errors!
  - begin
    - String.silly
  - rescue NameError => e
    = "Oh no! \"#{e}\" happened!"
  %p
    "false" is:
    - if false
      = "true"
    - else
      = "false"
  - if true
    - 5.times do |i|
      - if i % 2 == 1
        Odd!
      - else
        Even!
  - else
    = "This can't happen!"
- 13 |
.foo
  %strong foobar
- 5.times   |
    do      |
      |a|   |
  %strong= a
.test
  - "foo  |
     bar  |
     baz" |
    
  %p boom
