#header
  %h1= link "Haml", "/"

  #nav
    %ul
      %li= link "About", "/about.html"
      %li= link "Get Help", "/help.html"
      %li= link "Development", "/development.html"
      %li= link "Try Online", "http://lab.hamptoncatlin.com/play/with/haml"
      %li= link "Blog", "http://nex-3.com/?tag=haml"

  #latest
    %h2 Latest Release:
    #{CGI.escapeHTML Haml.version[:name]} (<span class="version">#{Haml.version[:number]}</span>)
    %p= link "What's New?", "/docs/yardoc/HAML_CHANGELOG.md.html"

