#header
  %h1= link "Sass", "/"

  #start
    %code gem install sass
    %br/
    %code
      %span mv
      style.css style.scss
    %br/
    %code
      %span.executable sass
      \--watch style.scss:style.css

  #nav
    %ul
      %li= link "About", "/about.html"
      %li= link "Tutorial", "/tutorial.html"
      %li= link "Documentation", "/docs.html"
      %li= link "Twitter", "http://twitter.com/sasscss"
      %li= link "Try Online", "http://trysass.com/"

  #latest
    %h2 Latest Release:
    #{CGI.escapeHTML Sass.version[:name]} (#{version_info})
    %p= link "What's New?", "/docs/yardoc/file.SASS_CHANGELOG.html"

