#header
  %h1= link "Sass", "/"

  #start
    %code sudo gem install haml
    %br/
    %code
      %span.executable css2sass
      style.css style.sass
    %br/
    %code
      %span.executable sass
      style.sass style.css

  #nav
    %ul
      %li= link "About", "/about.html"
      %li= link "Get Help", "/help.html"
      %li= link "Development", "/development.html"
      %li= link "Try Online", "/try.html"
      %li= link "Blog", "http://nex-3.com/?tag=sass"

  #latest
    %h2 Latest Release:
    #{CGI.escapeHTML Haml.version[:name]} (<span class="version">#{Haml.version[:number]}</span>)
    %p= link "What's New?", "/docs/yardoc/SASS_CHANGELOG.md.html"

