#header
  %h1= link "Sass", "/"

  #start
    %code gem install haml
    %br/
    %code
      %span.executable css2sass
      style.css style.sass
    %br/
    %code
      %span.executable sass
      style.sass style.css

  #nav
    %ul
      %li= link "About", "/about.html"
      %li= link "Tutorial", "/tutorial.html"
      %li= link "Documentation", "/docs.html"
      %li= link "Blog", "http://nex-3.com/?tag=sass"
      %li= link "Try Online", "/try.html"

  #latest
    %h2 Latest Release:
    #{CGI.escapeHTML Haml.version[:name]} (<span class="version">#{Haml.version[:number]}</span>)
    %p= link "What's New?", "/docs/yardoc/file.SASS_CHANGELOG.html"

