#header
  %h1= link "Haml", "/"

  #nav
    %ul
      %li= link "About", "/about.html"
      %li= link "Tutorial", "/tutorial.html"
      %li= link "Documentation", "/docs.html"
      %li= link "Blog", "http://nex-3.com/?tag=haml"

  #latest
    %h2 Latest Release:
    #{CGI.escapeHTML Haml.version[:name]} (<span class="version">#{Haml.version[:number]}</span>)
    %p= link "What's New?", "/docs/yardoc/file.HAML_CHANGELOG.html"

