!!!
%html
  %head
    %title&= @title || "Sass - Syntactically Awesome Stylesheets"
    = stylesheets
  %body
    #header
      -# Sass logo goes here, somehow
      %h1 Sass!
      #get_started
        %h1 Get Started
        %pre
          %code sudo gem install haml
        %pre
          %code css2sass style.css
        %pre
          %code sass style.sass
      #latest
        %h2 Latest Release:
        %p Friendly Fred (<span class="version">2.0.9</span>)
        %p= link "What's New", "/whats_new"
    %ul#navigation
      %li= link "About", "/about"
      %li= link "Get Started", "/docs/start"
      %li= link "Docs", "/docs"
      %li= link "Contribute", "/contribute"
      %li= link "Help", "/help"
    #content= yield
    #footer
      :markdown
        Copyright &copy; 2009 [Nathan Weizenbaum](http://nex-3.com)
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-535380-8");
      pageTracker._trackPageview();
      } catch(err) {}</script>
