!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %link{:rel => "shortcut icon", :href => "/images/sass_icon.ico", :type => "image/vnd.microsoft.icon"}/
    %meta{:name => "verify-v1", :content => "LyBvSzD3T4u1uK95pBqTMBKVyLoOe4JREb+9U6UJ99o="}/
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{:name => "description", :content => "Style with Attitude"}/
    %meta{:name => "keywords", :content => "Sass, SASS, sass, CSS, stylesheet, stylesheets, variables, mixins, abstraction, Syntactically Awesome Stylesheets, Ruby, Rails"}/
    %title&= @title || "Sass - CSS Extension Language"
    = stylesheets :application
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    = javascripts :application
  %body
    #page
      = partial "header"
      #main
        = partial "sidebar"
        = yield
      = partial "footer"
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-535380-8");
      pageTracker._trackPageview();
      } catch(err) {}</script>
